.left_nav {
  display: flex;
  list-style: none;
  gap: 10%;
  width: 35%;
  font-size: 1.2em;
  margin-top: 16px;
  li {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  li:hover{
    color: orange;
  }
}
@media (max-width: 768px) {
    .left_nav {
        font-size: 1em;
    }
}

.right_nav {
  font-size: 2.4em;
  margin-left: 8%;
  margin-top: 1%;
}

@media (max-width: 768px) {
    .right_nav {
        margin-left: 2%;
        font-size: 1.8em;
    }
}

.main {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
    .main {
        justify-content: start;
        gap: 20px;
    }
}

.wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  background: #ffffff30;
}
