.left_nav {
  display: flex;
  list-style: none;
  gap: 10%;
  width: 35%;
  font-size: 1.2em;
  margin-top: 16px;
  li {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  li:hover{
    color: orange;
  }
}

.right_nav {
  font-size: 2.4em;
  margin-left: 8%;
  margin-top: 1%;
}

.main {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  background: #ffffff30;
}
